复习：在前面我们已经学习了Pandas基础，第二章我们开始进入数据分析的业务部分，在第二章第一节的内容中，我们学习了数据的清洗，这一部分十分重要，只有数据变得相对干净，我们之后对数据的分析才可以更有力。而这一节，我们要做的是数据重构，数据重构依旧属于数据理解（准备）的范围。

In [1]:
import numpy as np
import pandas as pd

In [3]:
text = pd.read_csv('data/train-left-up.csv')
text.head(3)

,PassengerId,Survived,Pclass,Name
0,1,0,3,"Braund, Mr. Owen Harris"
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th..."
2,3,1,3,"Heikkinen, Miss. Laina"

# 2 第二章：数据重构

## 2.4 数据的合并

### 2.4.1 任务一：将data文件夹里面的所有数据都载入，观察数据的之间的关系  

Solution: 通过观察，四个文件为train.csv的不同部分，四个文件互相不重叠且合并之后就可以组成完成的train.csv文件

In [4]:
text_left_up = pd.read_csv("data/train-left-up.csv")
text_left_down = pd.read_csv("data/train-left-down.csv")
text_right_up = pd.read_csv("data/train-right-up.csv")
text_right_down = pd.read_csv("data/train-right-down.csv")

In [9]:
text_left_up.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 439 entries, 0 to 438
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  439 non-null    int64
 1   Survived     439 non-null    int64
 2   Pclass       439 non-null    int64
 3   Name         439 non-null    object
dtypes: int64(3), object(1)
memory usage: 13.8+ KB

In [10]:
text_left_down.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 452 entries, 0 to 451
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  452 non-null    int64
 1   Survived     452 non-null    int64
 2   Pclass       452 non-null    int64
 3   Name         452 non-null    object
dtypes: int64(3), object(1)
memory usage: 14.2+ KB

In [11]:
text_right_up.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 439 entries, 0 to 438
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Sex       439 non-null    object
 1   Age       352 non-null    float64
 2   SibSp     439 non-null    int64
 3   Parch     439 non-null    int64
 4   Ticket    439 non-null    object
 5   Fare      439 non-null    float64
 6   Cabin     97 non-null     object
 7   Embarked  438 non-null    object
dtypes: float64(2), int64(2), object(4)
memory usage: 27.6+ KB

In [12]:
text_right_down.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 452 entries, 0 to 451
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Sex       452 non-null    object
 1   Age       362 non-null    float64
 2   SibSp     452 non-null    int64
 3   Parch     452 non-null    int64
 4   Ticket    452 non-null    object
 5   Fare      452 non-null    float64
 6   Cabin     107 non-null    object
 7   Embarked  451 non-null    object
dtypes: float64(2), int64(2), object(4)
memory usage: 28.4+ KB

### 2.4.2：任务二：使用concat方法：将数据train-left-up.csv和train-right-up.csv横向合并为一张表，并保存这张表为result_up

In [14]:
#  将多个dataframe沿着轴向进行连接
result_up = pd.concat([text_left_up,text_right_up],axis=1)
result_up.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 439 entries, 0 to 438
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  439 non-null    int64
 1   Survived     439 non-null    int64
 2   Pclass       439 non-null    int64
 3   Name         439 non-null    object
 4   Sex          439 non-null    object
 5   Age          352 non-null    float64
 6   SibSp        439 non-null    int64
 7   Parch        439 non-null    int64
 8   Ticket       439 non-null    object
 9   Fare         439 non-null    float64
 10  Cabin        97 non-null     object
 11  Embarked     438 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 41.3+ KB

### 2.4.3 任务三：使用concat方法：将train-left-down和train-right-down横向合并为一张表，并保存这张表为result_down。然后将上边的result_up和result_down纵向合并为result。

In [16]:
result_down = pd.concat([text_left_down,text_right_down],axis=1)
result = pd.concat([result_up,result_down])
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 451
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 90.5+ KB